[Desktop Entry]
Version=1.0
Name=Webserver
Comment=Run Webserver
Exec=bash -c 'cd /home/daniel/raspi_air && /usr/bin/python3 webserver.py;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Application;