[Desktop Entry]
Name=Open Localhost
Comment=Open the browser at localhost:5000
Exec=xdg-open http://localhost:5000
Icon=browser
Terminal=false
Type=Application
Categories=Utility;
