[Desktop Entry]
Version=1.0
Name=Read py
Comment=Run read.py
Exec=bash -c 'cd /home/daniel/raspi_air && /usr/bin/python3 read.py;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Application;