[Desktop Entry]
Version=1.0
Name=Log Normal
Comment=Run logNormal.py
Exec=bash -c 'cd /home/daniel/raspi_air && /usr/bin/python3 logNormal.py;$SHELL'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Application;