.log-file-link {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

#myChart {
    width: 80%;
    height: 200px;
    overflow-y: auto;
    max-height: 200px;
    margin: auto;
}

ul.log-file-list {
    max-height: 200px;
    overflow-y: auto;
}
